# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
import json
import scipy.stats as st
from scipy.stats import linregress

from citipy import citipy

# Import API key
from api_keys import g_key

ModuleNotFoundError: No module named 'api_keys'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [ ]:
weather_df = pd.read_csv("Output/weather_df.csv")
weather_df

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_df["Humidity"]

In [14]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] == 0) & \
                                   (weather_df["Max Temp"] >= 70) & (weather_df["Max Temp"] <= 80)].dropna()

narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
40,40,samur,0,RU,1623979534,83,41.8253,48.4860,71.20,9.62
50,50,clyde river,0,US,1623979537,75,41.3042,-82.9752,77.41,8.79
118,118,sabzevar,0,IR,1623979558,18,36.2126,57.6819,73.62,4.45
127,127,cayenne,0,GF,1623979560,90,4.9333,-52.3333,77.09,0.00
140,140,qunduz,0,AF,1623979564,13,36.7290,68.8570,76.77,4.41
147,147,rodos,0,GR,1623979566,72,36.4408,28.2225,72.79,8.01
188,188,buraydah,0,SA,1623979578,20,26.3260,43.9750,75.65,9.46
208,208,sahbuz,0,AZ,1623979584,67,39.4072,45.5739,73.00,7.61
238,238,marsa matruh,0,MT,1623979593,78,35.8792,14.4953,72.28,8.05
306,306,hambantota,0,LK,1623979614,100,6.1241,81.1185,77.34,5.75
359,359,baherden,0,TM,1623979629,15,38.4362,57.4316,78.73,3.76
372,372,ajdabiya,0,LY,1623979633,59,30.7554,20.2263,72.05,8.99
466,466,tolstoy-yurt,0,RU,1623979661,73,43.4444,45.7722,70.12,6.71
501,501,dalbandin,0,PK,1623979671,9,28.8947,64.4101,77.34,1.32

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

             City Country      Lat      Lng Hotel Name
40          samur      RU  41.8253  48.4860
50    clyde river      US  41.3042 -82.9752
118      sabzevar      IR  36.2126  57.6819
127       cayenne      GF   4.9333 -52.3333
140        qunduz      AF  36.7290  68.8570
147         rodos      GR  36.4408  28.2225
188      buraydah      SA  26.3260  43.9750
208        sahbuz      AZ  39.4072  45.5739
238  marsa matruh      MT  35.8792  14.4953
306    hambantota      LK   6.1241  81.1185
359      baherden      TM  38.4362  57.4316
372      ajdabiya      LY  30.7554  20.2263
466  tolstoy-yurt      RU  43.4444  45.7722
501     dalbandin      PK  28.8947  64.4101

In [17]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [18]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 40: samur.
Missing field/result... skipping.
------------
Retrieving Results for Index 50: clyde river.
Closest hotel in clyde river is Red Roof Inn Clyde.
------------
Retrieving Results for Index 118: sabzevar.
Closest hotel in sabzevar is Dinlenme tesisi. Otel.
------------
Retrieving Results for Index 127: cayenne.
Closest hotel in cayenne is Grand Hotel Montabo.
------------
Retrieving Results for Index 140: qunduz.
Closest hotel in qunduz is عسکرشاه.
------------
Retrieving Results for Index 147: rodos.
Closest hotel in rodos is Rhodes Bay Hotel & SPA.
------------
Retrieving Results for Index 188: buraydah.
Closest hotel in buraydah is Mövenpick Hotel Qassim.
------------
Retrieving Results for Index 208: sahbuz.
Missing field/result... skipping.
------------
Retrieving Results for Index 238: marsa matruh.
Closest hotel in marsa matruh is Hugo's Boutique Hotel.
------------
Retrieving Results for Index 306: hambantota.
Missing field/result... skipping.
------------
Retrieving Results for Index 359: baherden.
Missing field/result... skipping.
------------
Retrieving Results for Index 372: ajdabiya.
Missing field/result... skipping.
------------
Retrieving Results for Index 466: tolstoy-yurt.
Missing field/result... skipping.
------------
Retrieving Results for Index 501: dalbandin.
Closest hotel in dalbandin is Al-Dawood Hotel & Restaurant.
------------
-------End of Search-------

In [22]:
# Display the hotel dataframe
hotel_df

             City Country      Lat      Lng                    Hotel Name
40          samur      RU  41.8253  48.4860
50    clyde river      US  41.3042 -82.9752            Red Roof Inn Clyde
118      sabzevar      IR  36.2126  57.6819         Dinlenme tesisi. Otel
127       cayenne      GF   4.9333 -52.3333           Grand Hotel Montabo
140        qunduz      AF  36.7290  68.8570                       عسکرشاه
147         rodos      GR  36.4408  28.2225        Rhodes Bay Hotel & SPA
188      buraydah      SA  26.3260  43.9750        Mövenpick Hotel Qassim
208        sahbuz      AZ  39.4072  45.5739
238  marsa matruh      MT  35.8792  14.4953         Hugo's Boutique Hotel
306    hambantota      LK   6.1241  81.1185
359      baherden      TM  38.4362  57.4316
372      ajdabiya      LY  30.7554  20.2263
466  tolstoy-yurt      RU  43.4444  45.7722
501     dalbandin      PK  28.8947  64.4101  Al-Dawood Hotel & Restaurant

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))